.translation{
    /* on va "préparer" l'élément à subir une transition vers un autre état */
    transition: transform 0.5s;
}

.translation:hover{
    transform: translate(20px, -10px);
}

.scale-border{
    transition: transform 2s ease, border 1s;
    border: 0px dashed transparent;
}

.scale-border:hover{
    transform: scale(1.1);
    border: 2px dashed red;
    background-color: var(--danger-bg-color);
}

.espace-animation{
    width: 100%;
    padding-bottom: 30%;
    height: 0;
    position: relative;
}

.cercle-animation{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkorange;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--header-bg-color);
}

.animation{
    /* description de l'animation */
    /*
    animation c'est une propriété raccourcie
    animation-name              : nom de l'animation
    animation-duration          : durée de l'animation
    animation-timing-function   : la vitesse constante ou non de l'animation
    animation-delay             : le délais avant que l'animation soit jouée
    animation-iteration-count   : le nombre de fois que se joue l'animation
    animation-direction         : le "sens" de l'animation (on commence par la première vers la dernière image clef ou l'inverse)
    */
    animation-name: fleche-qui-bouge;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Il faut maintenant définir les images clefs de l'animation */

@keyframes fleche-qui-bouge {
    0%{
        left: 0%;
        top: 25%;
        transform: rotate(0deg);
    }
    20%{
        top: 0%;
    }
    50%{
        left: 50%;
        top: 25%;
        transform: rotate(360deg);
    }
    100%{
        left: 0%;
        top: 25%;
    }
}

.cadre-chargement{
    width: 100%;
    border: 1px solid var(--darkgreen);
    margin: var(--gouttiere);
    height: auto;
}

.chargement{
    height: 0.8rem;
    margin: var(--gouttiere) 0;
}

.chargement > *{
    width: 100%;
    height: 100%;
    background-color: var(--darkgreen);
    transform-origin: left center;
    animation-name: chargement;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count:  infinite;
}

.charge-1{
    animation-timing-function: ease;
}

.charge-2{
    animation-timing-function: ease-in-out;
}

.charge-3{
    animation-timing-function: ease-in;
}

.charge-4{
    animation-timing-function: steps(10, end);
}

.charge-5{
    animation-timing-function: ease-out;
}

.charge-6{
    animation-timing-function:linear;
}

@keyframes chargement {
    0%{
        transform: scaleX(0);
    }
    90%{
        transform: scaleX(1);
    }
}