/* mise en page du formulaire */
/* root de maintenance du css formulaire */
:root{
    --form-border-color : #666;
    --form-border-radius: calc( var(--gouttiere) / 2 );
    --input-border-radius: calc( var(--gouttiere) / 3 );
    --form-action-color: #0084F7;
    --input-border-style: solid;
}

/* formulaire dans un article */

@media screen and (min-width: 768px) {
    article form{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* style d'éléments de formulaire */
/* fieldset & legend */
fieldset{
    border-color: var(--form-border-color);
    border-style: solid;
    border-radius: var(--form-border-radius);
    margin-bottom: var(--gouttiere);
}

legend{
    border-width: inherit;
    border-color: inherit;
    border-style: inherit;
    border-radius: inherit;
    padding-left: calc( var(--gouttiere) / 2 );
    padding-right: calc( var(--gouttiere) / 2 );
}
/* général à tous les champs */

input:focus, 
input:focus-visible, 
select:focus,
select:focus-visible,
textarea:focus,
textarea:focus-visible{
    outline-color: var(--form-action-color);
}

/* input[type="text"], input[type="email"], input[type="number"] */
input[type="text"], 
input[type="email"], 
input[type="number"]{
    font-size: 1rem;
    line-height: 1.3rem;
    border-color: var(--form-border-color);
    border-style: var(--input-border-style);
    border-radius: var(--input-border-radius);
}
/* select */
select{
    font-size: 1rem;
    height: var(--site-line-height);
    border-color: var(--form-border-color);
    border-style: var(--input-border-style);
    border-radius: var(--input-border-radius);
}
/* textarea */

form textarea{
    border-color: var(--form-border-color);
    border-style: var(--input-border-style);
    border-radius: var(--input-border-radius);    
    width: 100%;
    height: 25vh;
    border-width: 2px;
}

input:invalid,
form textarea:invalid,
select:invalid{
    border-color: var(--danger-bg-color);
}

input:valid,
form textarea:valid,
select:valid{
    border-color: var(--success-bg-color);
}