.left{
    float: left;
}

.right{
    float: right;
}

.img-fluid{
    max-width: 100%;
}

.vignette-100, 
.miniature-100, 
.avatar-100{
    width: 100px;
    height: 100px;
    object-position: center center;
    background-color: var(--header-bg-color);
}

.vignette-100{
    object-fit: cover;
}

.miniature-100{
    object-fit: contain;
}

.elipse-200{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-100{
    object-fit: cover;
    border-radius: 50%;
}

figure.media-legend{
    background-color: var(--header-bg-color);
    display: inline-block;
    padding: var(--gouttiere);
    border-radius: calc( var(--gouttiere) / 2 );
}

figure.media-legend > div{
    display: table;
    margin: 0 auto;
}

figure.media-legend > * {
    color: var(--header-color);
}

.media-legend figcaption{
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    padding-left: calc( var(--gouttiere) / 2 );
    padding-right: calc( var(--gouttiere) / 2 );
}

figure.player{
    margin: var(--gouttiere) 0;
}

video{
    background-color: var(--header-bg-color);
}

figure.video{
    margin: 0;
    height: 0;
    position: relative;
}

figure.video > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-16-9{
    padding-bottom: 56.25%;
}

.video-21-9{
    padding-bottom: 42.85%;
}

.video-size-600{
    max-width: 600px;
}