/*
Commentaires en CSS
Aucun impact sur la page liée

CSS => Cascading Style Sheets (Feuilles de style en cascade)

La cascade 

Le principe de base est : si on déclare du CSS pour un élément, la quasi totalité des éléments à l'intérieur vont appliquer ce style par HÉRITAGE

En revanche, si un style est défini en particulier (soit par défaut navigateur, soit pas des déclaration CSS du fichier), les éléments dans ce cas-ci n'appliqueront pas leur héritage.

Les sélecteurs CSS

Pour appliquer des propriétés CSS (du style) sur des éléments et les éléments à l'intérieur, il faut indiquer au navigateurs quels sont es élément en utilsants un Sélecteur CSS.

# => sélécteur d'élément avec un id défini
    ATTENTION : Les id d'une page doivent être UNIQUES
    Ex : <h3 id="mise-a-zero-du-css">Mise à zéro du CSS</h3>

    Sélécteur : 
        #mise-a-zero-du-css{
            -- CSS
        }

. => sélécteur par nom de classe
    Ex : <span class="danger">code</span>

    Sélécteur : 
    .danger{
        -- CSS
    }

balise => Sélécteur par nom de balise

    Ex : <h1>Titre</h1>

    Sélécteur : 
    h1{
        -- CSS
    }

ET maintenant, on mélange TOUT !
il existe un norme dans l'écriture des sélécteurs (l'abbreviation emmet utilise cette norme)

un élément particulier utilisant une classe particulière

span.danger => tout les éléments span ayant au moins la classe danger

    Quand le sélecteur de class .classe est "collé" à l'élément, cela veux dire que la classe est écrite dans l'attribut class de l'élément
    <span class="danger"></span>

span.danger.titi => <span class="titi danger"></span> un élément span ayant au moins la class danger ET la class titi dans l'attribut class

Il est possible aussi de désigner par "filiation"

main section => dans un élément main, tous les descendants de type section

<main>
    <section>
    Corresponds au sélecteur
        <section>
            Corresponds au sélecteur
        </section>
        <section>
            Corresponds au sélecteur
        </section>
    </section>
</main>

main > section => dans un élément main, tous les descendants directs type section

<main>
    <section>
        Corresponds au sélecteur
        <section>
            Ne corresponds pas au sélecteur
        </section>
        <section>
            Ne corresponds pas au sélecteur
        </section>
    </section>
    <section>
        Corresponds au sélecteur
        <section>
            Ne corresponds pas au sélecteur
        </section>
        <section>
            Ne corresponds pas au sélecteur
        </section>
    </section>
</main>

article.news p => tous les descendant p d'une élément article ayant au moins la classe news

Sélécteur "magique"

* => tous les éléments de la page

Pseudo-selecteurs

Il existe des "espace" compris entre le contenu et le début d'une balise, le avant (::before) et le après (::after) dans lequel on peut déclarer du contenu (propriété content), des police de caractère pour ce contenu

q::before, q::after{
    color: #333;
    font-family: Impact;
    content: '<>';
}

Pseudo-classes 

Certains éléments changent "d'état" dans leurs utilisation, par exemple, quand la souris passe "au dessus" (survol), un élément est dans l'état "survolé" :hover

q:hover{
    color: red;
    background-color: black;
}

quand un élément q est survolé, la police de caractère devient rouge et la couleur de fond passe au noir.

:root 

Un espace de déclaration de propriétés CSS, qui s'appliquent à tout le document, avant le CSS du navigateur

il est possible de centraliser des comportements et des "standard" de style directement dans le root

Comme en CSS on peux déclarer des variables sous la forme --nom-de-variable ou --variable, etc. il diveint facile de maîtriser la maintenance et les changements dans le css

Unités de tailles en CSS (en web)

Unités les plus souvent utilisées en web

px      =>  pixel il est possible de mesure avec des virgules, 23.8px)
em      =>  cadratin. Historiquement unité de mesure en print sur les presses.
            Le cadratin se calcul par rapport à la taille du parent
rem     =>  cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
            - soit celle du navigateur 
            - soit celle surchargée dans le :root
%       =>  La taille définie en % se calcule par rapport à l'espace disponible autour de l'élément définie en %
vw & vh =>  vw : viewport width (largeur de la surface d'affichage de l'appareil)
            vh : viewport height ( hauteur d'affichage de l'appareil)
            50vh => 50% de la taille d'affichage du l'appareil
            si la largeur d'affichage du site 360px (100vw)
            50vw = 180px

*/

/* 
Import de feuillets CSS 
ATTENTION : si on importe d'autre feuillets CSS, la déclaration du ou des imports doivent être les première ligne de CSS que le navigateur va lire (commentaires non concernés)
*/
@import url('./media.css');
@import url('./contact.css');

/* déclartion du root */

:root{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    --site-title-font: Impact;
    --heading-font: Impact;
    --site-font-size: 1.15rem;
    --line-height-factor: 1.4;
    /* ce facteur est le taux qui permet d'avoir une hauteur de ligne harmonieuse avec la hauteur de police de base */
    --site-line-height: calc( var(--site-font-size) * var(--line-height-factor) );
    /* la hauteur de ligne est calculé par rraport à la taille de la police multipliée par le taux de hauteur de ligne pour rendre le texte accessible */
    line-height: var(--site-line-height);
    font-size: var(--site-font-size); /* référence du 1rem */
    --gouttiere: 0.5rem;
    --header-bg-color: #333;
    --header-color: white;
}

/* Déclaration générales */

*{
    box-sizing: border-box;
}

h1, h2{
    font-family: var(--heading-font);
}

h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
}

h1, .site-title{
    font-size: calc( var(--site-font-size) *2.5 ) ;
    /* on ajoute 150% de la taille de base des polices pour titre 1 */
    line-height: calc( ( var(--site-font-size) *2.5 ) * var(--line-height-factor) );
    /* on calcul la hauteur de ligne par rapport à la taille de lapolice h1 qu'on multiplie par le taux appliqué à la hauteur de ligne pour le site */
}
h2{
    font-size: calc( var(--site-font-size) *2 ) ;
    line-height: calc( ( var(--site-font-size) *2 ) * var(--line-height-factor) );
}

a:not(p a){
    text-decoration: none;
}

/*  déclaration des classes CSS*/

.site-title{
    font-family: var(--site-title-font);
}

.go-top{
    position: fixed;
    bottom: var(--gouttiere);
    right: var(--gouttiere);
    opacity: 0.8;
}

.go-top a{
    padding-top: calc( var(--gouttiere) / 2 );
    padding-bottom: calc( var(--gouttiere) / 2 );
    padding-left: var(--gouttiere);
    padding-right: var(--gouttiere);
    background-color: rgb(202, 84, 11);
    color: white;
    border-radius: calc( var(--site-line-height) / 2 );
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* déclaration selon la structure html de la page */

body{
    margin: 0;
}

body > header,
body > nav, 
body > footer{
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

body > nav a{
    color: var(--header-color);
}

body > header > *,
body > nav > *,
body > main > header,
aside.toc, 
main section header,
main section article,
body > footer > *{
    padding: var(--gouttiere);
}

body > nav[role="navigation"] ul{
    list-style-type: none;
    padding: 0;
}
body > nav[role="navigation"] ul li{
    border-bottom: 1px solid var(--header-color);
}

body > nav[role="navigation"] ul li:first-of-type{
    border-top: 1px solid var(--header-color);
}

body > nav[role="navigation"] ul a{
    display: block;
}

body > nav[role="navigation"] ul a:hover,
body > nav[role="navigation"] ul a:focus,
body > nav[role="navigation"] ul a:focus-visible{
    background-color: var(--header-color);
    color: var(--header-bg-color);
    outline: none;
}

/* déclaration spécifiques pour l'adaptatif */

@media print {

    :root{
        text-align: justify;
    }

    body > nav,
    body > footer,
    .go-top{
        display: none;
    }

    main section section{
        display: flex;
        flex-wrap: wrap;
    }

    main section section article{
        width: calc( 100% / 3 );
    }
}

/*
les points de ruptures les plus utilisés en adaptatif

la plupart des css adaptatifs reprennent ceux proposés par bootstrap

|min-width (largeur de l'écran)     | largeur du contenu a "restreindre"|
|-----------------------------------|-----------------------------------|
|smartphone < 576px                 |   100% de l'espace disponible     |
|small <= 576px => sm               |   540px de l'espace disponible    |
|medium <= 768px  => md             |   720px de l'espace disponible    |
|large <= 992px   => lg             |   960px de l'espace disponible    |
|extra-large <= 1200px => xl        |   1140px de l'espace disponible   |
|extra-extra-large <= 1400px => xxl |   1320px de l'espace disponible   |
|-----------------------------------|-----------------------------------|

*/

@media screen and (min-width: 576px) {
    .container{
        width: 540px;
    }

    body > nav[role="navigation"] ul{
        display: flex;
        flex-wrap: wrap;
    }

    body > nav[role="navigation"] ul li{
        border-bottom: unset;
    }

    body > nav[role="navigation"] ul li:first-of-type{
        border-top: unset;
    }

    body > nav[role="navigation"] ul a{
        padding-left: var(--gouttiere);
        padding-right: var(--gouttiere);
    }

    .w-sm-100{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 720px;
    }

    main section section{
        display: flex;
        flex-wrap: wrap;
    }

    main section header{
        width: 100%;
    }

    main section section article{
        width: 50%;
    }

    .w-md-100{
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .container{
        width: 960px;
    }

    .w-lg-100{
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 1140px;
    }

    main section section article{
        width: calc( 100% / 3 );
    }

    .w-xl-100{
        width: 100%;
    }
    
}

@media screen and (min-width: 1400px) {
    .container{
        width: 1320px;
    }

    .w-xxl-100{
        width: 100%;
    }
}